parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Cannot call method fetch\(\) on PDOStatement\|false\.#'
        - '#function get_class expects object, Throwable\|null given.#'
