parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - 'tests/phpunit/TaintedPDO.php'
        - 'tests/phpunit/TaintedPDOStatement.php'
    ignoreErrors:
        - '#Offset .* does not exist on array\|null.#' # TODO remove (arrays will be replaced by Value Objects)
