parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - 'tests/phpunit/Fixtures/run.php'
    ignoreErrors:
        # Bad phpdoc in library
        - '#\$toxicity of method Ihsw\\Toxiproxy\\Proxy::create\(\) expects string, float given#'
