.env
vendor/
/data/
/tests/phpunit/data/in
/tests/phpunit/data/out/
/tests/phpunit/data/config.yml
/tests/phpunit/data/*.json
.idea/
composer.phar
runtests.sh
test.php
/tmp/
dockerize-linux-amd64*
.phpunit.result.cache
